<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370177527300-6dtgtn5rdv5hq12eadm6ln86c7ipkrn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370177527300-6dtgtn5rdv5hq12eadm6ln86c7ipkrn0</string>
	<key>API_KEY</key>
	<string>AIzaSyDq_SOjSvlZ8tW3l97zaJvIrqLj5EYg4WI</string>
	<key>GCM_SENDER_ID</key>
	<string>370177527300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dribbleAirApp</string>
	<key>PROJECT_ID</key>
	<string>air-quality-app-4c34e</string>
	<key>STORAGE_BUCKET</key>
	<string>air-quality-app-4c34e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370177527300:ios:328e30e84d72616391af51</string>
</dict>
</plist>